<% content_for :title, "Editing user" %>
<div class="flex justify-center w-screen h-screen bg-lime-100">
<div class="flex-col my-40">
<h1 class="text-5xl font-bold">マイページ</h1>
    <%= form_with model: @user, local: true do |f| %>
      <div class="my-5">
        <%= f.label :name, class: "form-label"%>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="my-5">
        <%= f.label :email, class: "form-label"%>
        <%= f.text_field :email, class: "form-control" %>
      </div>
      <%= f.submit "更新", class: "btn btn-primary" %>
    <% end %>
    <%= link_to "ログアウト", :logout, data: {turbo_method: :delete} %>
  </div>
</div>