
<div class="flex justify-center w-screen h-screen bg-lime-100">
<div class="flex-col my-40">
    <h1 class="text-5xl font-bold">会員登録</h1>
    <%= form_with model: @user, local: true do |f| %>
      <div class= "my-5">
        <%= f.label :name %>
        <%= f.text_field :name %>
      </div>
      <div class= "my-5">
        <%= f.label :email %>
        <%= f.email_field :email %>
      </div>
      <div class= "my-5">
        <%= f.label :password %>
        <%= f.password_field :password %>
      </div>
      <div class= "my-5">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation %>
      </div>
      <%= f.submit "作成", class: "btn btn-primary" %>
    <% end %>
    <%= link_to "ログインはこちら", login_path%>
  </div>

</div>