<div class="relative flex min-h-screen min-w-screen">
  <div id="bar">
    <input id="autoc" class="controls fixed top-2 right-5 h-10 w-52 z-50 bg-[#ffedd5] text-black" type="text" placeholder="Search Box" />
  </div>
  <div id="map" class="w-screen">
  </div>
  <% if logged_in? %>
    <div class="absolute bottom-[200px] right-2">
      <button id="spot" class=" bg-blue-500 w-16 h-16 inline-block rounded-full z-50">スポット
      </button>
    </div>
    <div class="absolute bottom-20 left-1/2 transform -translate-x-1/2">
      <button id="spot_complete" class="hidden bg-white w-16 h-16 inline-block rounded-full">スポット完了
      </button>
    </div>
    <div class="absolute bottom-[100px] right-2">
      <button id="start" class="hidden bg-blue-500 w-16 h-16 inline-block rounded-full z-50">作成
      </button>
    </div>
    <div class="absolute bottom-20 left-1/2 transform -translate-x-1/2">
      <button id="complete" class="hidden bg-white w-16 h-16 inline-block rounded-full">完了
      </button>
    </div>
    <button id="modalOpen" class="btn fixed top-2 left-4">使い方</button>
    <div id="easyModal" class="fixed left-0 top-24 h-full">
      <div class="bg-[#ffedd5] x-52px">
        <div class="modal-header">
          <span class="modalClose">×</span>
        </div>
        <div class="modal-body text-xs">
          <p>作成ボタン→地図上でタップすると描画モードになります。</p>
          <p>クリックで地点を入力できるので、スタート地点→中間地点（曲がり角とか）→ゴール地点とクリックしていき</p>
          <p>中央下の「完了ボタン」を押すと線が作成されます。</p><br>
          
          <p>ルート編集</p>
          <p>作ったルートをクリックすると点線になってまたルートが作れるようになります</p><br>

          <p>このモーダルは×ボタンをクリックすると閉じます。</p>
        </div>
      </div>
    </div>
  <% end %>

  <div id="spotInfo" class="absolute hidden container top-20 left-5 inset-x-auto">
    <button id="infoClose" class="btn w-16 h-16 inline-block rounded-full z-50">閉じる</button>
    <div class="flex justify-center bg-lime-100">
      <div class="flex-col my-40">
        <%= form_with model: @spot, url: save_spot_data_path, id: "spot_form" do |f|%>
          <div class="my-5">
            <%= f.label :photo, class: "form-label"%>
            <img id="new_image" class="w-40 h-40" src="">
            <%= f.file_field :photo, class: "form-control" %>
          </div>
          <div class="my-5">
            <%= f.label :name, class: "form-label"%>
            <%= f.text_field :name, class: "form-control" %>
          </div>
          <div class="my-5">
            <%= f.label :review, class: "form-label"%>
            <%= f.text_field :review, class: "form-control" %>
          </div>
          <%= f.hidden_field :latitude, id: "lat" %>
          <%= f.hidden_field :longitude, id: "lng" %>
          <%= f.submit "登録", type: "button", id: "save_form", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  </div>
</div>



<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV["MAP_API_KEY"] %>&libraries=drawing,places,marker&callback=initMap">
</script>

<%= include_gon %>
<%= javascript_include_tag "map", "data-turbo-track": "reload", async: true %>
