<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Portfolio" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>

  </head>

  <body>
    <header>
      <div class="footer bg-neutral text-neutral-content items-center p-4">
        <% if current_user %>
          <%= link_to "編集", edit_user_path(current_user.id) %>
          <%= link_to "Logout", :logout, data: { turbo_method: :post } %>
          <%= link_to "Map", map_path %>
        <% else %>
          <%= link_to "会員登録", new_user_path %> |
          <%= link_to "Login", :login %>
          <%= link_to "Map", map_path %>
        <% end %>
      </div>
    </header>

    <%= render "shared/flash_messages" %>

  <div>
    <p id="notice"><%= flash[:notice] %></p>
    <p id="alert"><%= flash[:alert] %></p>
  </div>
    <%= yield %>
  </body>
</html>
